
__pycache__/*

images/*.jpg

videos/*.mp4

ML/.ipynb_checkpoints/*

.vscode/*


models
test_images
training_images

caricaturing/images/aligned_images/*
!caricaturing/images/aligned_images/avg.png

experiment/original videos
experiment/tests/distinction test
experiment/tests/rejected
