
__pycache__/*

images/*.jpg

videos/*.mp4

ML/.ipynb_checkpoints/*

.vscode/*

## The dlib dat file is so large, it can be found on the medium repo
## https://github.com/Azmarie/Face-Morphing
classifiers/*.dat

models
test_images
training_images
