[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
vSim = "bash -c \"python videoSim.py 2> /dev/null\""
pSim = "bash -c \"python phosphenesSim.py 2> /dev/null\""

[packages]
opencv-python = "*"
scipy = "*"
cmake = "*"
dlib = "*"
opencv-contrib-python = "*"
tensorflow = "*"
sklearn = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.10"
