[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
vSim = "python3 videoSim.py"
pSim = "python3 phospheneSim.py"

[packages]
opencv-python = "*"
matplotlib = "*"
scipy = "*"
numba = "*"
cmake = "*"
dlib = "*"
scikit-image = "*"
install = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.8"
