[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
vSim = "python3 videoSim.py"
pSim = "python3 phosphenesSim.py"

[packages]
opencv-python = "*"
scipy = "*"
cmake = "*"
dlib = "*"
opencv-contrib-python = "*"
tensorflow = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.8"
